.home-three-carousel-section {
    margin: 40px 0;
    overflow: hidden;
    .slick-image {
        box-shadow: 0px 22px 49px rgba(51, 59, 69, 0.15);
        box-shadow: 0px 11px 20px rgba(7, 43, 41, 0.3634);
    }
    .slick-dots {
        bottom: -100px!important;
    }
}
.home-skill-category-grid-section {
    margin: 40px auto;
    max-width: 1140px;
    text-align: center;
    overflow: hidden;
    .title {
        font-family: 'Roboto Slab';
        font-weight: bold;
        font-size: 38px;
        color: #313E42;
        line-height: 50px;
        padding: 63px 0 33px 0; 
    }
    .item-wrapper {
        height: 207px;
        position: relative;
        margin: 10px;
        &:hover {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }
        
        .content-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        h3 {
            font-family: 'Roboto';
            font-weight: 300;
            font-size: 18px;
            color: #818181;
            line-height: 22px;
            letter-spacing: -0.12px;
        }
    }
}
.home-portfolio-carousel-container {
    max-width: 1440px;
    margin: 0 auto;
    .item-wrapper {
        position: relative;
        height: -webkit-fill-available;
        margin-top: 60px;
        .img-wrapper {
            position: absolute;
            right: 0;
            top: 83px;
        }
        .content-wrapper {
            position: absolute;
            left: 5px;
            top: 0;
            max-width: 609px;
            background-color: #1CABA0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 60px 40px;
            z-index: 1;
            img {
                position: absolute;
                top: -55px;
                left: 54px;
            }
            .reivew-txt {
                font-family: 'Roboto';
                font-weight: 300;
                font-size: 38px;
                color: #fff;
                line-height: 60px;
            }
            .username {
                font-family: 'Roboto';
                font-weight: bold;
                font-size: 18px;
                color: #fff;
                line-height: 21px;
                margin-top: 30px;
                position: relative;
                &:before {
                    content: "";
                    background: #FF7F45;
                    position: absolute;
                    width: 35px;
                    height: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -45px;
                    border-radius: 5px;
                }
            }
        }
    }
    button.slick-arrow.slick-prev, button.slick-arrow.slick-next {
        top: 70%;
        opacity: 1;
        &:before {
            content: "";
        }
    }
    .slick-dots li button::before, .slick-dots li.slick-active button:before {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        top: 0;
    }
    .slick-dots li button::before {
        background-color: #F4FAFA;
    }
    .slick-dots li.slick-active button:before {
        background-color: #1CABA0;
    }
}
.home-market-leader-section {
    max-width: 1140px;
    margin: 20px auto;
    padding: 40px 0;
    text-align: center;
    overflow: hidden;
    .title {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 12px;
        color: #727877;
        line-height:32px;
        margin-bottom: 15px;
    }
    
}
.home-become-instructor-section {
    background-color: #F4FAFA;
    padding: 56px 0 89px;
    .content-wrapper {
        max-width: 717px;
        margin: 0 auto;
        text-align: center;
        .title {
            font-family: 'Roboto Slab';
            font-weight: bold;
            font-size: 38px;
            line-height:50px;
            color: #313E42;
        }
        .sub-wrapper {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 22px;
            line-height: 33px;
            color: #4C575A;
            padding: 34px 0 27px;
        }
    }
}
@media (min-width: 1140px) {
    .home-market-leader-section {
        .grid-item {
            max-width: 20%;
        }
    }
}
@media (max-width: 1139px) {
    .home-portfolio-carousel-container {
        .item-wrapper {
            height: 600px;
            .img-wrapper {
                img {
                    width: 100%;
                }
            }
            .content-wrapper {
                .reivew-txt {
                    font-size: 26px;
                    line-height: 38px;
                }
            }
        }
    }
}
@media (max-width: 550px) {
    .home-portfolio-carousel-container {
        .item-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 0;
            .img-wrapper, .content-wrapper {
                position: relative;
                top: 0;
            }
        }
    }
}